.mySlidess {
  display: none;
}
.hi img {
  vertical-align: middle;
  border-radius: 15px;
}

.globe {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 50vh;
  margin-bottom: 5vh;
  width: 100%;
}
.preve,
.nexte {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.nexte {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.preve:hover,
.nexte:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.btn{
  height: 20%;
  border: white solid;
  font-size: 0.8rem;
  font-weight: bold;
  width: 10%;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  color: #14acb7;
  border:2px solid #14acb7;
  border-radius: 5px;
}
@media only screen and (max-width: 300px) {
  .preve,
  .nexte,
  .text {
    font-size: 11px;
  }
}
.hi {
  display: flex;
  margin: 8vh 2vw 10vh 3vw;
}
.mimi {
  margin: 15vh 5vw 0 7vw;
}
.mimi h1 {
  font-size: 5rem;
  color: #14acb7;
}
.mimi p {
  line-height: 25px;
  width: 80%;
  margin-top: 3vh;
}
.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.globe img {
  height: 60vh;
  width: 40vw;
}
@media (max-width:800px) {

    .align{
      width: 100%;
      margin: 0;
      margin-top: 5%;
      height: 25rem;
    }
    .mimi{
      margin:0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mimi h1{
      width:fit-content;
      font-size: 2rem;

    }
    .mimi p{
      text-align: center;
      margin: 0;
      margin-top: 10%;
    }
    .globe{
      display: none;
    }
    .hi{
      margin: 0;
      margin-top: 5%;
      margin-bottom: 10%;
      flex-direction: column;
      align-items: center;
    }
    .align .btn {
      height: 10%;
      border: #14acb7 solid;
      border-width: 2px;
      width: 25%;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #14acb7;
      background-color: transparent;
      border-radius: 5px;
    }
}